body {
	background-color: #303030;
	color: #66ffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;

}

#myDIV {
    width: 500px;
    height: 500px;
	background: #ff00ff url('smiley.gif') no-repeat top left/50px 50px;
    -webkit-animation: mymove 10s infinite;  /*Chrome, Safari, Opera */
    animation: mymove 10s infinite;
	margin-left: inherit;
}
 /* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
	0% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; width: 50px;}
	25% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 1100px;}
	50% {background: #b30086 url('smiley.gif') no-repeat bottom right/50px 50px; width: 50px;}
	75% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 1100px;}
	100% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; width: 50px;}
}

/* Standard syntax */
@keyframes mymove {
	0% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; top: 0px; width: 50px;}
	25% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 1100px;}
	50% {background: #b30086 url('smiley.gif') no-repeat bottom right/50px 50px; width: 50px;}
	75% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 1100px;}
	100% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; top: 0px; width: 50px;}
}

h1 {
	margin-bottom: 50px;
}

.container {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.txt {
	color: #66ffff;
	text-align: center;
}