body {
	background-color: #303030;
	color: #66ffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

/* Animation with smiley face */
#myDIV {
	width: 50px;
    height: 100px;
	background: #ff00ff url('smiley.gif') no-repeat top left/50px 50px;
    -webkit-animation: mymove 10s infinite;  /*Chrome, Safari, Opera */
    animation: mymove 10s infinite;
	margin: auto;
	margin-bottom: 50px;
}
 /* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
	0% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; width: 50px;}
	25% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 400px;}
	50% {background: #b30086 url('smiley.gif') no-repeat bottom right/50px 50px; width: 50px;}
	75% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 400px;}
	100% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; width: 50px;}
}

/* Standard syntax */
@keyframes mymove {
	0% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; top: 0px; width: 50px;}
	25% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 400px;}
	50% {background: #b30086 url('smiley.gif') no-repeat bottom right/50px 50px; width: 50px;}
	75% {background: #ff99e6 url('smiley.gif') no-repeat bottom right/50px 50px; width: 400px;}
	100% {background: #b30086 url('smiley.gif') no-repeat top left/50px 50px; top: 0px; width: 50px;}
}

h1 {
	margin-bottom: 50px;
}

.container {
	text-align: center;
}

.border {
	margin: 50px 0px 0px;
	border-style: solid;
	border-width: 0px 100px 2px;
	border-color: #44dddd;
	border-radius:5px;
	margin: 0px 30% 50px;
	
}

.stborder {
	border: solid #ff6600;
	margin: 0px 30% 50px;
	
	padding: 50px 50px;
	
}

.txt {
	margin: 50px 0px 0px;
	color: #66ffff;
	text-align: center;
	font-size: 14px;
	border: solid #009999;
	padding: 25px;
}

.selector {
	
	border-color: #aaaaaa;
	border-style: solid;
	margin-bottom: 50px;
}