body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size:20px;
}

#myDIV {
    width: 500px;
    height: 300px;
    background: #ffffff url('smiley.gif') no-repeat top left/5px 5px;
    -webkit-animation: mymove 1000s infinite; /* Chrome, Safari, Opera */
    animation: mymove 1000s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    100% {background: #ffffff bottom right/50px 50px;}
}

/* Standard syntax */
@keyframes mymove {
    100% {background: #000000 bottom right/50px 50px;}
}

.anime
{
	color: #ff00ff;
	font-size: 300px;
}

.container
{
	text-align: center;
}

.lul
{
	color: #006699;
}